body{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
}
.proj{
  background-color: black;
}
@import url("https://fonts.googleapis.com/css?family=Khula:700");
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.console-container {
  text-align:left;
  font-size:2em;
  height:200px;
  width:500px;
  display:block;
  position:absolute;
  color:white;
  padding-right: 150px;
  margin:auto;
}
.console-underscore {

   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
#contain{
    background-image:url("https://static1.squarespace.com/static/5789d6bb44024399693fba54/t/58f09b4a8419c24fe69e5268/1492163404522/standout+marketing+website+mockup+dark+overlay.jpg?format=1500w");
    height:100%;
    
    padding: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    background-attachment: fixed;
}


#about{
  padding-top: 30px;
  
  background-image: url('https://static.videezy.com/system/resources/thumbnails/000/005/583/original/dark-overview-typing-laptop.jpg');
  height:70%;
  width:100%;
  padding-bottom: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
  background-attachment: fixed;
}

#skills{
  height:70%;
  width:100%;
  
  padding-top: 50px;
  padding-bottom: 150px;
  
  position: relative;
  color:white;
  font-size: 30px;
  margin-top:inherit;
}

#projects{
  padding-bottom: 50px;
  padding-top: 50px;
  position: relative;
  color:white;
  font-size: 30px;
  margin-top:inherit;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;

}

nav>ul {
    text-align: right;
}

nav>ul>li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 0.733);
}

nav>ul>li>a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), insert 0 0 1px rgba(255, 255, 255, 0.6);
    background-image: linear-gradient(rgba(0, 255, 221, 0.459), rgba(255, 255, 255, 0.24));
    color: white;
}

.my-auto {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}
button{
  border-radius: 50%;
  background-color: black;
  
  color:white;
  margin:10px;
  font-size: 20px;
  border-radius: 1rem;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#about{

  color:white;
  font-size: 30px;
  margin-top:inherit;

}

h2{
  text-align: center;
}
p{
  text-align: center;
}
h4{
  color:#3db1ab;
  font-size: 30px;
}

.thumbnail{
  background-color: black;
}
#contacts{
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color:white;
  font-size: 30px;
  margin-top:inherit;
}
#license{
  text-align:center;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  border: 2px black;
  background-color: #27aaa4;
  color: white;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: black;
  color:#27aaa4;
  border-radius: 50%;
  border: 2px #27aaa4;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


section {
  width: 200px;
  margin: 0 auto;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.ease-all {
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/* Social Icons */

.social {
  height: 20rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.social li a {
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  text-align: center;
  padding-top: 13px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;

  /*background-color: #222;*/
  -webkit-box-shadow: inset 0 0 0 40px #27aaa4fd;
  -moz-box-shadow: inset 0 0 0 40px #27aaa4;
  -o-box-shadow: inset 0 0 0 40px #27aaa4;
  -ms-box-shadow: inset 0 0 0 40px #27aaa4;
  box-shadow: inset 0 0 0 40px #27aaa4;

  color: #fff;
}

.social li a:hover {
  -webkit-box-shadow: inset 0 0 0 3px rgb(252, 239, 239);
  -moz-box-shadow: inset 0 0 0 3px rgb(255, 255, 255);
  -o-box-shadow: inset 0 0 0 3px rgb(255, 255, 255);
  -ms-box-shadow: inset 0 0 0 3px rgb(255, 255, 255);
  box-shadow: inset 0 0 0 3px rgb(255, 255, 255);

  color: rgb(255, 255, 255);
}
