body{
    height: 100%;
    background-color: black;
    color:gold;
}
.container{
    background-image:url("https://forum.manjaro.org/uploads/default/original/2X/c/cb08c70a8387f6d5c544de17f4a78f701ebc20ba.png");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
h1{
  color:white;
  font-size:70px;
  text-align:left;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;

}

nav>ul {
    text-align: right;
}

nav>ul>li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 0.733);
}

nav>ul>li>a:hover {
    box-shadow: 0 0 10px purple, insert 0 0 1px white;
    background: rgba(221, 109, 35, 0.678);
    color: rgba(0, 35, 122, 0.7);
}
@media (min-width: 480px)
grayscale.css:91
p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
}
.my-auto {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}
button{
  border: 0.5rem outset white;
  background-color: black;
  padding: 20px;
  color:white;
  margin:10px;
  font-size: 20px;
  border-radius: 6rem;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#about{
  background-image:url("http://mein-neues-blog.de/files/xplanetFX/imagemagick_support_21_10_2011/overlay_result_black.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color:white;
  font-size: 30px;
  margin-top:inherit;

}
h2{
  text-align: center;
}
p{
  text-align: center;
}
h4{
  color:gold;
}
#skills{
  background-image:url("http://backgroundcheckall.com/wp-content/uploads/2017/12/twitter-background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color:white;
  font-size: 30px;
  margin-top:inherit;
}

#projects{
  background-image:url("https://png.pngtree.com/thumb_back/fh260/back_pic/00/04/12/945621beadcbcfb.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color:white;
  font-size: 30px;
  margin-top:inherit;
}
#contacts{
  color:white;
  font-size: 10px;
  margin-top:inherit;
  padding:200px;
  background-color: brown;
}
#license{
  text-align:center;
}
